# Byte-compiled / cache
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.venv/
venv/
*.spec

# Env / local
.env
.env.*
!.env.template

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
